#### 1. Write a Python program to get the volume of a sphere with radius 6.

In [9]:
import math
math.pi

3.141592653589793

In [10]:
def volume_of_sphere(r):
    volume=4/3*math.pi* r**3
    return volume

In [11]:
volume_of_sphere(6)

904.7786842338603

#### 2. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum hint: write User defined functions

In [18]:
def my_func(x,y,z):
    sum=x+y+z
    if x==y==z:
        return 3*sum
    else :
        return sum

In [21]:
my_func(3,4,5)

12

In [22]:
my_func(3,3,3)

27

#### 3. Write a Python program to count the number 4 in a given list.

List = [1,4,6,8,4,9,4]

In [71]:
def list_count_4(nums):
    cnt=0
    for a in nums :
        if a == 4:
            cnt=cnt+1
    return cnt
list_count_4([1,4,6,8,4,9,4])

3

#### 4. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editorSample numbers list :

[399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

In [51]:
numbers=[399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

In [54]:
for a in numbers :
    if a %2 ==0:
        print(a)
    elif a==237:
            break

162
758
918

#### 5. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [56]:
for a in range(1500,2701):
    if a%7 ==0 and a%5==0:
        print(a)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

#### 6. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Note : Use 'continue' statement.

Expected Output : 0 1 2 4 5

In [63]:
for a in range(0,7):
    if a==3 or a==6:
        continue
    print(a,end=" ")

0 1 2 4 5

#### 7. Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [64]:
x,y=0,1
while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

#### 9. Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [69]:
def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

In [70]:
unique_list([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]